:root {
  --accent-color: #2196f3;
  --logo-color: #000;
  --main-text: #212121;
  --aditional-text: #757575;
  --title-color: #fff;
  --team-background: #f5f4fa;
  --footer-backdroung: #2f303a;
  --line-color: #ececec;
  --adress-color: rgba(255, 255, 255, 0.6);
  --card-border: #eee;
  --icon-color: #afb1b8;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

body {
  font-family: "Roboto";
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.header-studio {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-page {
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.nav-page:hover {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.list-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--aditional-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.list-contact:hover,
.list-contact:focus {
  outline: none;
  .header-icon {
    fill: var(--accent-color);
  }
}

.header-icon {
  width: 16px;
  height: 12px;
  fill: var(--aditional-text);
}

/* .list-item:last-child {
  .header-icon {
    width: 10px;
    height: 20px;
  }
} */

.list-contact:hover,
.list-contact:focus {
  outline: none;
  color: var(--accent-color);
}

.main-hero {
  background: var(--footer-backdroung);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/herobackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--title-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-adventures {
  padding-top: 94px;
}

.adventures-list {
  display: flex;
  gap: 30px;
}

.adventures-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.adventures-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.adventures-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.adventures-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.adventures-title {
  color: var(--main-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.adventures-text {
  color: var(--aditional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.main-activities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities-title {
  color: var(--main-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.activities-list {
  display: flex;
  gap: 30px;
}

.activities-item {
  position: relative;
}

.activities-text {
  color: var(--title-color);
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.main-team {
  background: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--main-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--title-color);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  color: var(--main-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--aditional-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
}

.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  outline: none;
  .team-icon {
    fill: var(--title-color);
  }
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--main-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
  outline: 1px solid var(--accent-color);
  border: none;
  .clients-icon {
    fill: var(--accent-color);
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

.footer {
  background: var(--footer-backdroung);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-div {
  margin-right: 70px;
}

.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-studio {
  color: var(--title-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-address {
  margin-top: 20px;
}

.address-location {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.foter-list-item {
  margin-top: 9px;
}

.footer-link {
  color: var(--adress-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.platforms-div {
  margin-right: auto;
}

.platforms-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.platforms-link:hover,
.platforms-link:focus {
  background-color: var(--accent-color);
  outline: none;
  .team-icon {
    fill: var(--title-color);
  }
}

.platforms-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.platforms-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subscription-label-div {
  display: flex;
}

.subscription-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border-radius: 4px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
}

.send-div {
  position: relative;
}

.subscription-button {
  width: 200px;
  height: 50px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

/* .subscription-button:hover {
  background: #188ce8;
} */

.button-div {
  position: absolute;
  top: 10px;
  left: 28px;
}

.button-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: absolute;
  top: 13px;
  right: 28px;
}

/*-----------portfolio css----------*/

.section-navigation {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid var(--line-color);
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.navigation-button {
  color: var(--main-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
}

.navigation-button:hover {
  background-color: var(--accent-color);
  color: var(--title-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.products-item {
  outline: 1px solid #eee;
  background: #fff;
  flex-basis: calc((100% - 60px) / 3);
}

.products-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.products-img {
  width: 100%;
  height: 294px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.products-div {
  padding: 20px 24px;
}

.products-title {
  color: var(--main-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.products-text {
  color: var(--aditional-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* -----------modal window-----------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  border-radius: 4px;
  background: var(--title-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close:hover,
.modal-close:focus {
  .modal-button {
    fill: var(--accent-color);
  }
}

.modal-button {
  width: 100%;
  height: 18px;
}

.form-title {
  color: var(--main-text);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.label-list {
  display: flex;
  flex-direction: column;
}

.label-item {
  margin-bottom: 10px;
}

.modal-label {
  color: var(--aditional-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-div {
  position: relative;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding-left: 42px;
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--accent-color);
}

.modal-input:hover + .label-svg,
.modal-input:focus + .label-svg {
  fill: var(--accent-color);
}

.label-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 35%;
  left: 12px;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.checkbox-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.checkbox-text {
  color: var(--aditional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-right: 5px;
}

.checkbox-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.form-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-button:hover {
  background: #188ce8;
}
