
    $accent-color: #2196f3;
    $logo-color: #000;
    $main-text: #212121;
    $aditional-text: #757575;
    $title-color: #fff;
    $team-background: #f5f4fa;
    $footer-backdroung: #2f303a;
    $line-color: #ececec;
    $adress-color: rgba(255, 255, 255, 0.6);
    $card-border: #eee;
    $icon-color: #afb1b8;
