.clients{
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      color: $main-text;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 92px;
      border-radius: 4px;
      border: 1px solid $icon-color;
      @include transition($prorerty:outline);

      &:hover,
      &:focus {
        outline: 1px solid $accent-color;
        border: none;
        .clients__icon {
          fill: $accent-color;
        }
      }
    }

    &__icon {
      width: 106px;
      height: 60px;
      fill: $icon-color;
      @include transition($prorerty:fill);
    }
  }
  

  


 