.footer {
  background: $footer-backdroung;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__div {
    margin-right: 70px;
  }

  &__logo {
    color: $accent-color;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__studio {
    color: $title-color;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__address {
    margin-top: 20px;
  }

  &__location {
    color: $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }

  &__items {
    margin-top: 9px;
  }

  &__link {
    color: $adress-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}

.platforms {
  margin-right: auto;

  &__title {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      outline: none;
      .team__icon {
        fill: $title-color;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $title-color;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.subscription {
  &__title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 358px;
    height: 50px;
    background: #2f303a;
    border-radius: 4px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    padding-left: 16px;
  }

  &__sent {
    position: relative;
  }

  &__button {
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
  }

  &__div {
    position: absolute;
    top: 10px;
    left: 28px;
  }

  &__svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    position: absolute;
    top: 13px;
    right: 28px;
  }  
}



